
<!-- Logo -->
<header class="topbar">
    <div class="left-section">
        <img src="assets/logo.png" class="logo" alt="Logo" />
    </div>


    <!-- Center Navigation -->
    <nav class="navigation">
        <button class="nav-btn" routerLink="dashboard">Dashboard</button>
        <button class="nav-btn" routerLink="expense-list">Expenses List</button>
    </nav>


    <!-- Right Side Controls -->
    <div class="actions">
        <button class="icon-btn" (click)="toggleTheme()">
            <span *ngIf="!isDark()">🌞</span>
            <span *ngIf="isDark()">🌙</span>
        </button>


        <button class="icon-btn" (click)="changeLang()">
            {{ currentLang() }}
        </button>


        <button class="login-btn">Login</button>
    </div>
</header>

<div class="p-6 grid gap-6">

    <!-- Stats -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">

        <div class="stat-box">
            <h3>Total Expenses</h3>
            <p>{{ totalExpenses() | number:'1.2-2' }} $</p>
        </div>

        <div class="stat-box">
            <h3>Current Month</h3>
            <p>{{ currentMonthExpenses() | number:'1.2-2' }} $</p>
        </div>

        <div class="stat-box">
            <h3>Transactions</h3>
            <p>{{ totalTransactions() }}</p>
        </div>

        <div class="stat-box">
            <h3>Average Expense</h3>
            <p>{{ avgExpenses() | number:'1.2-2' }} $</p>
        </div>

    </div>

    <!-- Charts -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="card">
            <h3 class="mb-3 font-semibold">Category Distribution</h3>
            <canvas id="categoryChart"></canvas>
        </div>

        <div class="card">
            <h3 class="mb-3 font-semibold">Monthly Spending</h3>
            <canvas id="monthlyChart"></canvas>
        </div>
    </div>

    <!-- Latest 5 -->
    <div class="card mt-6">
        <h3 class="font-semibold mb-4">Latest 5 Expenses</h3>

        <ul class="divide-y">
            <li *ngFor="let e of latestFive()" class="py-2 flex justify-between">
                <div>
                    <p class="font-medium">{{ e.title }}</p>
                    <p class="text-sm text-gray-500">{{ e.date }}</p>
                </div>
                <p class="font-semibold">{{ e.amount }} $</p>
            </li>
        </ul>
    </div>

</div>

